<footer class="footer tablet-wrapper">
  <div class="button-container">
    <div class="footer-button">
      <a href="./index.html#top" title="Go to top">
        <img class="ico-arrow" src="./assets/images/ico-arrow.svg" />
      </a>
    </div>
  </div>
  <nav class="articles-list">
    <ul>
      <a
        class="link"
        title="Go to Adalab webpage"
        href="https://adalab.es/curso-desarrollo-web/"
      >
        <li>articles</li></a
      >
      <a
        class="link"
        title="Go to Adalab webpage"
        href="https://adalab.es/curso-desarrollo-web/"
      >
        <li>books</li></a
      >
      <a
        class="link"
        title="Go to Adalab webpage"
        href="https://adalab.es/curso-desarrollo-web/"
      >
        <li>events</li></a
      >
      <a
        class="link"
        title="Go to Adalab webpage"
        href="https://adalab.es/curso-desarrollo-web/"
      >
        <li>reasons</li></a
      >
      <a
        class="link"
        title="Go to Adalab webpage"
        href="https://adalab.es/curso-desarrollo-web/"
      >
        <li>tips</li></a
      >
    </ul>
  </nav>
  <nav class="social-list">
    <ul>
      <a
        class="link"
        title="Go to Adalab webpage"
        href="https://adalab.es/curso-desarrollo-web/"
      >
        <li>twitter</li></a
      >
      <a
        class="link"
        title="Go to Adalab webpage"
        href="https://adalab.es/curso-desarrollo-web/"
      >
        <li>instagram</li></a
      >
      <a
        class="link"
        title="Go to Adalab webpage"
        href="https://adalab.es/curso-desarrollo-web/"
      >
        <li>mastodon-social</li></a
      >
    </ul>
  </nav>
  <div class="copy">
    <small>
      <span class="copy-text"> &copy; 2017 </span>
      <span class="copy-text">
        we <span class="heart-icon">❤</span> components
      </span>
    </small>
  </div>
</footer>
