<footer class="footer">
  <div class="footer-button">
    <a href="#" title="">
      <img class="scroll-down-icon" src="./assets/images/ico-arrow.svg" />
    </a>
  </div>
  <nav class="articles-list">
    <ul>
      <li>articles</li>
      <li>books</li>
      <li>events</li>
      <li>reasons</li>
      <li>tips</li>
    </ul>
  </nav>
  <nav class="social-list">
    <ul>
      <li>twitter</li>
      <li>instagram</li>
      <li>mastodon-social</li>
    </ul>
  </nav>
  <div class="copy">
    <small>
      <span class="copy-text" > &copy; 2017 </span>
      <span class="copy-text" > we <span class="heart-icon">❤</span> components </span>
    </small>
  </div>
</footer>
