<header class="header">
<!--  <div class="div-image-header">
  <img
    class="header-image"
    src="./assets/images/cover.jpg"
    alt="Imagen de ciudad"
    title="Imagen de ciudad"
  />
</div> -->

  <div class="burguer-menu">
    <a href="https://adalab.es/curso-desarrollo-web/" title="Ir a Adalab">
      <img class="burguer-image" src="./assets/images/ico-menu.svg" />
    </a>
  </div>
  <div class="header-title">
    <h1>
      <span>anonymous</span>
      <span>proxy</span>
    </h1>
    <p>
      <span>In hac habitasse platea dictumst.</span>
    </p>
  </div>

  <div class="header-button"></div>
</header>
