<section class="hero" id="top">
  <div class="header-title">
    <h1>
      <span>anonymous</span>
      <span>proxy</span>
    </h1>
</div>
<div class="header-paragraph">
    <p>
      <span class="title-paragraph">In hac habitasse platea dictumst.</span>
    </p>
</div>
  <div class="header-button">
    <a href="./index.html#3-reasons" title="Go to 3 reasons to purchase">
        <img class="scroll-down-icon" src="./assets/images/ico-scroll-down.svg" />
      </a>
  </div>
</section>
<!-- /home/sara/Escritorio/evaluacion-final-modulo1/modulo-1-evaluacion-final-saraalite/src/html/partials/main.html -->