<main class="main tablet-wrapper" id="main-top">
  <article class="main-article">
    <h4 class="insomnia-title">insomnia tips</h4>
    <h2 class="window-title">
      <span>looking through a</span>
      <span>window</span>
    </h2>
    <p class="main-article-paragraph">
      <span>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex </span> <span>diam nec lectus. Vivamus semper sodales rutrum.</span>
    </p>
  </article>
  <div class="main-button">Go</div>
</main>
