<main class="main-bottom" id="3-reasons">
  <h2 class="main-bottom-title">3 reasons to purchase</h2>
    <article class="article-top main-bottom-wrapper">
      <h3 class="article-title">Ud sed metus</h3>
      <p class="article-paragraph"><span>Lorem ipsum dolor sit amet, consecteur.</span></p>
    </article>
    <article class="article-center main-bottom-wrapper">
      <h3 class="article-title">Curabitur ac erat</h3>
      <p class="article-paragraph"><span>Mauris mattis urna</span> <span>quis lorem molestie.</span></p>
    </article>
    <article class="article-bottom main-bottom-wrapper">
      <h3 class="article-title">Morbi dictum</h3>
      <p class="article-paragraph"><span>Aliquam in dolor et</span> <span>dolor tincidunt.</span></p>
    </article>
    <div class="main-bottom-button">More reasons</div>
</main>
