.burguer-menu {
  width: 44px;
  height: 44px;
  background-color: $color-primary-light;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
}
.burguer-image {
  width: 16px;
  height: 14px;
  margin: auto;
  margin-top: 15px;
}
